<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="DownloadType" value="BASIC" />
    <add key ="RunOptima" value="false" />
    <add key ="LatestVersionChecked" value ="" />
	<add key ="ProductionPath" value="D:\\OptimaProd"/>
    <add key ="CompilationPath" value ="D:\OptimaBuild" />
	<add key ="eDeclarationPath" value="D:\eDeklaracje"/>
    <add key ="Destination" value ="" />
    <add key ="SOADestination" value ="" />
    <add key ="ProgrammerDestination" value ="D:\Optima" />
	<add key ="DownloadEDeclaration" value="false"/>
    <add key ="AutoCheckVersion" value ="false" />
    <add key ="NotificationSound" value ="false" />
    <add key ="BuildServer" value ="localhost" />
	<add key="ProductionServer" value="localhost"/>
	<add key="eDeclarationServer" value="localhost"/>
    
  </appSettings>
  
</configuration>