<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DownloadType" value="BASIC" />
		<add key="RunOptima" value="false" />
		<add key="LatestVersionChecked" value="" />
		<add key="ProductionPath" value="\\columbia\tmp\Bartlomiej.Komendarczuk\OSA\Optima_Wersje_Prod" />
		<add key="CompilationPath" value="\\natalie\cdnkop-gotowe\archiwum.optima\" />
		<add key="eDeclarationPath" value="\\natalie\cdnKOP-gotowe\Archiwum\Deklaracje" />
		<add key="Destination" value="" />
		<add key="SOADestination" value="" />
		<add key="ProgrammerDestination" value="D:\Optima" />
		<add key="AutoCheckVersion" value="false" />
		<add key="NotificationSound" value="false" />
		<add key="DownloadEDeclaration" value="false" />
		<add key="BuildServer" value="Natalie" />
		<add key="ProductionServer" value="Columbia" />
		<add key="eDeclarationServer" value="Columbia" />
	</appSettings>
</configuration>