<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />
  </startup>
  <appSettings>
    <add key="SourcePath" value="May 5, 2014"/>
    <add key="DestPath" value="May 6, 2014"/>
    <add key="OptimaSOAPath" value="May 6, 2014"/>
  </appSettings>
</configuration>
